[submodule "source/sambamba"]
	path = source/sambamba
	url = git@github.com:lomereiter/sambamba.git
[submodule "thirdparty/sambamba"]
	path = thirdparty/sambamba
	url = git@github.com:lomereiter/sambamba.git
[submodule "thirdparty/BioD"]
	path = thirdparty/BioD
	url = git@github.com:biod/BioD.git
